html,body{
    height:100%;
}
.wrap{
    background-color: #f5f5f5;
}
.bgc{
    margin-top: 80px;
}
@media screen and (max-width: 1000px){
    .bgc{
        margin-top: 148px;
    }
}
.bgc, .bgc img{
    width:100%;
}
.main{
    width:100%;
    background: url('https://AiHuiHealth.github.io/aihuiWeb/add-bgc.jpg')no-repeat;
    position:relative;
    padding-bottom:30px;
}
.main ul{
    width: 75%;
    /*height: 372px;*/
    padding: 34px 0;
    margin: 0px auto 60px;
    overflow:hidden;
}
.main ul li{
    /*width:370px;*/
    width:27%;
    height:100%;
    float:left;
    margin-right:2%;
}
.main ul li img{
    width:100%;
}
.main ul li:last-child{
    margin-right:0;
}
.main .table-img{
    margin-left: 5.5%;
    margin-top: 40px;
    width:90%;
}
#map{
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
    position:absolute;
    bottom:46%;
    right:20%;
    display:none;
    box-shadow:0px 0px  6px 2px #aaa;
}
.div-row{
    width: 0px;
    height: 0px;
    border-top: 16px solid transparent;
    border-left: 16px solid #fff;
    border-bottom: 16px solid transparent;
    position:absolute;
    right:384px;
    top:48px;
    display:none;
}
